@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

nav {
  background-color: transparent;
}
ul li {
  font-size: 18px;
  padding: 0 0.8rem;
  color: #fff;
}

a.nav-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    position: relative;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    color: transparent;
    width: 0%;
    content: ".";
    height: 3px;
    transition: 0.2s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    position: relative;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #fff;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    color: transparent;
    width: 0%;
    content: ".";
    height: 3px;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
}

.menu {
  color: black;
}

.navbar.scrolled {
  background-color: #171717;
  opacity: 0.9;
  transition: background 600ms;
}

/* .nav-link {
  background: linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 100% 100%,
    linear-gradient(currentColor 0 0) 0 0%,
    linear-gradient(currentColor 0 0) 0 0,
    linear-gradient(currentColor 0 0) 0% 0%,
    linear-gradient(currentColor 0 0) 0% 0%;
  background-size: var(--d, 0) 2px, 2px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.4s;
}*/
.nav-link:hover {
  --d: 15px;
  color: #fff;
}

.rbtn {
  border: 3px solid white;
  text-decoration: None;
  color: white;
  padding: 10px;
  transition: ease-in 0.2s;
  font-family: "Poppins";
  margin: 4px;
  font-weight: 500;
}

.rbtn:hover {
  background-color: white;

  text-decoration: none;
  color: #171717;
  padding: 10px;
}

